.intro-tip {
	min-width: 570px;
	max-width: 31%;
	padding: 1.75em 2em;
	visibility: visible;
	opacity: 1;
	position: fixed;
	bottom: 1.5em;
	left: 50%;
	z-index: 1;
	transform: translate(-50%, 0);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	color: #fff;
	background: rgba(#000, 0.85);
	transition: 0.3s ease-out;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;

	&.is-hidden {
		visibility: hidden;
		opacity: 0;
	}
	
	img {
		max-width: 110px;
		float: left;
		margin-top: 0.75em;
		margin-right: 1.75em;
	}

	p {
		margin: 0;
		overflow: hidden;
	}

	&__discard {
		float: right;
		margin-top: 1em;
		padding: 0.5em 1em;
		border: 0;
		font-size: 14px;
		font-weight: bold;
		color: #000;
		background-color: #fff;
		transition: 0.3s ease-out;
		text-transform: uppercase;
		cursor: pointer;
	}
	
	&:hover &__discard {
		color: #fff;
		background-color: #318BC7;
	}
}
