.nav-button {
  // width: 13%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 3em 2%;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  opacity: 0;
  transition: 0.3s ease-out;
  outline: 0;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  svg {
    transform: scale(0.6);

    @media (min-width: 1600px) {
      transform: scale(1)
    }
  }
}
